<!-- templates/blog/page_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style> 
    body {
            background-color: pink;
            color: whitesmoke;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <p>{{ page.content }}</p>
    <img src="https://i.pinimg.com/736x/a4/93/9c/a4939c82e5a60d7c3864a64181ad9b59.jpg" class="foto1" alt="">
    
</body>
</html> 
